{include file="header.html"}
<div class="page-header">
	<h6>
		文章管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			{if $row->id}编辑{else}添加{/if}文章
		</small>
	</h6>
</div>
<div class="row">
<div class="col-xs-12">
	<form class="form-horizontal" role="form" method="post" action="?app=article&act=edit" enctype="multipart/form-data">
		<input type="hidden" name="id" id="id" value="{$row->id}" />
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="title">标题</label>
			<div class="col-sm-10">
				<input type="text" id="title" name="title" value="{$row->title}" class="col-xs-6" />
			</div>
		</div>
		{if in_array('article',$function) && $row->mark==''}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="pic">主图片</label>
			<div class="col-sm-10">
				<input type="hidden" name="origin_pic" id="origin_pic" value="{$row->pic}" />
				<div class="col-file col-xs-3"><input type="file" id="pic" name="pic" value="" /></div>
				{if $row->pic}<a href="{$row->pic}" target="_blank"><img src="{$row->pic}" height="34" onerror="this.src='/images/nopic.png'" /></a>{/if}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="files">图片相册</label>
			<div class="col-sm-10">
				<div class="col-file col-xs-3" id="file"><input type="file" id="files" /></div>
				<div id="imgs">
					{if is_array($pics)}
					{foreach from=$pics item=g}
					<div>
						<span title="拖动改变顺序">≡</span>
						<a href="{$g->pic}" target="_blank"></a>
						<input type="hidden" name="pics[]" value="{$g->pic}" />
						<a href="javascript:void(0)" onclick="deletePic(this)"></a>
					</div>
					{/foreach}
					{/if}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="memo">摘要</label>
			<div class="col-sm-10">
				<input type="text" id="memo" name="memo" value="{$row->memo}" class="col-xs-6" />
			</div>
		</div>
		{/if}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="content">
				内容
				<div class="clear"></div>
				<div class="checkbox not-mobile" >
					<label><input type="checkbox" class="premobile ace" /> <span class="lbl">预览</span></label>
				</div>
			</label>
			<div class="col-sm-10">
				<textarea class="ckeditor" name="content" id="content" rows="20">{$row->content}</textarea>
			</div>
		</div>
		{if in_array('article',$function) && $row->mark==''}
		{if is_array($categories)}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="category_id">分类</label>
			<div class="col-sm-10">
				<select name="category_id" id="category_id">
                    <option value="">请选所属分类</option>
					{foreach from=$categories item=g}
					<option value="{$g->id}" {if $row->category_id==$g->id}selected{/if}>{$g->name}</option>
					{/foreach}
                </select>
			</div>
		</div>
		{/if}
		<!--
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="ext_property">扩展属性</label>
			<div class="col-sm-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="ext_property[]" value="1" class="ace" {if strpos(','|cat:$row->ext_property|cat:',', ',1,')!==false }checked{/if} />
						<span class="lbl">推荐</span></label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="ext_property[]" value="2" class="ace" {if strpos(','|cat:$row->ext_property|cat:',', ',2,')!==false }checked{/if} />
						<span class="lbl">热销</span></label>
				</div>
			</div>
		</div>
		-->
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="sort">文章排序</label>
			<div class="col-sm-10">
				<input type="text" name="sort" id="sort" value="{$row->sort}" class="col-xs-2" />
				<span class="some-line">数字越小，排在越前</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="status">状态</label>
			<div class="col-sm-10">
				<div class="radio">
					<label>
						<input type="radio" name="status" value="1" class="ace" {if $row->status==1}checked{/if} />
						<span class="lbl">显示</span></label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="status" value="0" class="ace" {if $row->status==0}checked{/if} />
						<span class="lbl">隐藏</span></label>
				</div>
			</div>
		</div>
		
		{if $row->id}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">评论</label>
			<div class="col-sm-10 comments">
				{if is_array($comments)}
				<ul>
					{foreach from=$comments item=g}
					<li>
						<div class="col-height">
							{$g->content} <span style="color:#ccc;">[{$g->add_time}]</span>
							<a class="reply-add" parent_id="{$g->id}" href="javascript:void(0)">回复</a>
						</div>
						<div class="reply-list">
							{if is_array($g->replys)}
							{foreach from=$g->replys item=r}
							<div>{$r->member_name}:{$r->content} <a class="reply-delete" self_id="{$r->id}" href="javascript:void(0)">删除</a></div>
							{/foreach}
							{/if}
						</div>
					</li>
					{/foreach}
				</ul>
				{else}
				<div class="col-height" style="color:#ccc;">暂无评论</div>
				{/if}
			</div>
		</div>
		{/if}
		
		<!--
		<div class="form-group" >
			<label class="col-sm-2 control-label no-padding-right"><span class="btn-info btn-add" id="add"></span>关联商品</label>
			<div class="col-sm-10">
				<ul id="simple-table" class="goods-list col-sm-5">
					{foreach from=$goods item=g}
					<li class="item">
						<a class="del" href="javascript:void(0)">－</a>
						<a href="index.php?app=goods&act=edit&id={$g->id}" target="_blank">
							<div url="{$g->pic}"></div>
							<span>{$g->name}</span>
							<font>￥{$g->price}</font>
						</a>
						<input type="hidden" class="goods_id" name="goods[]" value="{$g->id}" />
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		-->
		{/if}
		
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info" type="submit">
					<i class="ace-icon fa fa-check bigger-110"></i>
					提交
				</button>

				&nbsp; &nbsp; &nbsp;
				<button class="btn" type="reset">
					<i class="ace-icon fa fa-undo bigger-110"></i>
					重置
				</button>
			</div>
		</div>
	</form>
</div>
</div>
{include file="footer.html"}
<script>
function deletePic(k){
	if(!confirm('是否删除？'))return;
	$(k).parent().remove();
	if($('#imgs').children().length<{$configs.GLOBAL_ARTICLE_IMAGE_NUM})$('#file').show();
}
function setDragsort(){
	$('#imgs').dragsort({
		dragList : 'div',
		dragItem : 'span',
		//lockRange : true,
		placeHolder : '<div class="hold"></div>',
		start : function(){
			$('.hold').html(this.html()).attr('style', this.attr('data-style')).css({
				width:this.outerWidth(false),
				height:this.outerHeight(false),
				opacity:0.3
			});
		},
		after : function(){
			if($.browser.mobile)$('#imgs a[href!="javascript:void(0)"]').photoBrowser();
		}
	});
	if($.browser.mobile)$('#imgs a[href!="javascript:void(0)"]').photoBrowser();
	$('#imgs a[href!="javascript:void(0)"]').loadbackground();
}
$(function(){
	setDragsort();
	//添加图片
	$('#files').html5upload({
		url : '?app=article&act=upload_pic',
		name : 'pic',
		dataType : 'text',
		before : function(){
			if($('#imgs').children().length>={$configs.GLOBAL_ARTICLE_IMAGE_NUM}){
				alert('图片不可超过{$configs.GLOBAL_ARTICLE_IMAGE_NUM}张');
				return false;
			}
			$.overload();
		},
		success : function(json){
			$.overload(false);
			var html = '<div>\
				<span title="拖动改变顺序">≡</span>\
				<a href="'+json.data+'" target="_blank"></a>\
				<input type="hidden" name="pics[]" value="'+json.data+'" />\
				<a href="javascript:void(0)" onclick="deletePic(this)"></a>\
			</div>';
			$('#imgs').append(html);
			if($('#imgs').children().length>={$configs.GLOBAL_ARTICLE_IMAGE_NUM})$('#file').hide();
			if($('#imgs').children().length==1 && !$('#origin_pic').val().length){
				$('#origin_pic').val(json.data).before('<a href="'+json.data+'" target="_blank"><img src="'+json.data+'" height="34" onerror="this.src=\'/images/nopic.png\'" /></a>');
			}
			setDragsort();
		}
	});
	
	$(document.body).on('click', 'a.reply-add', function(){
		var parent_id = $(this).attr('parent_id');
		var html = $('<div><input type="text" placeholder="请填写回复内容" style="width:33%;" /> <a href="javascript:void(0)">提交</a></div>');
		$(this).parent().next().append(html);
		html.opacityIn(500).find('a').click(function(){
			var div = $(this).parent(), content = $(this).prev().val();
			if(!content.length){
				alert('请填写回复内容');
				return;
			}
			$.postJSON('?app=article&act=reply_add', { parent_id:parent_id, content:content, article_id:'{$row->id}' }, function(json){
				if(json.error!=0){ alert(json.msg);return }
				var g = json.data;
				div.html(g.member_name+':'+g.content+' <a class="reply-delete" self_id="'+g.id+'" href="javascript:void(0)">删除</a>');
			});
		});
	});
	$(document.body).on('click', 'a.reply-delete', function(){
		if(!confirm('真的删除吗？'))return;
		var _this = $(this), id = _this.attr('self_id');
		$.postJSON('?app=article&act=reply_delete', { id:id }, function(json){
			if(json.error!=0){ alert(json.msg);return }
			_this.parent().animate({ opacity:0 }, 500, 'easeout', function(){
				this.remove();
			});
		});
	});
	$('#add').goodsModal({
		text : '商品',
		api : '{$GM_PATH}goods/index',
		target : '#simple-table'
	});
});
</script>