{include file="header.html"}

<div class="page-header">
	<h6>
	   品牌管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			品牌列表
		</small>
		<div>
			<a href="?app=brand&act=add" class="iframe-layer">添加品牌</a>
		</div>
	</h6>
</div>

<form class="form-inline" action="?" method="get">
<input type="hidden" name="app" id="app" value="{$app}" />
<input type="hidden" name="act" id="act" value="{$act}" />
<input type="text" class="input-medium" placeholder="关键词" name="keyword" value="{$keyword}" />
<button type="submit" class="btn btn-info btn-sm">
	<i class="ace-icon fa fa-search bigger-110"></i>搜索
</button>
</form>

<div class="table-content">
<table id="simple-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>名称</th>
			<th>图片</th>
			<th>备注</th>
			<th>状态</th>
			<th>排序</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{foreach from=$rs item=row }
		<tr>
			<td>{$row->id}</td>
			<td><a href="?app=brand&act=edit&id={$row->id}" title="{$row->name}">{$row->name|truncate:40}</a></td>
			<td><img src="{$row->pic}" width="100" onerror="this.src='/images/nopic.png'" /></td>
			<td>{$row->memo}</td>
			<td>{if $row->status==1}<font class="fa fa-check"></font>{else}<font class="fa fa-close"></font>{/if}</td>
			<td>{$row->sort}</td>
			<td>
				<a href="?app=brand&act=edit&id={$row->id}">
					<button type="button" class="btn btn-xs btn-info">
					<i class="ace-icon fa fa-pencil bigger-120"></i>
				</button>
				</a>
				<a href="?app=brand&act=delete&id={$row->id}" class="delete" >
					<button type="button" class="btn btn-xs btn-danger">
					<i class="ace-icon far fa-trash-alt bigger-120"></i>
				</button>
				</a>
			</td>
		</tr>
		{foreachelse}
		<tr bgcolor="white"><td colspan="13" height="50">暂无记录</td></tr>
		{/foreach}

	</tbody>
</table>
</div>
<div class="mypage">
	共 {$sharepage.num_records} 个记录  {$sharepage.current_page} / {$sharepage.num_pages} 页  {$sharepage.first_page} {$sharepage.prev} {$sharepage.nav} {$sharepage.next} {$sharepage.last_page}
</div>
{include file="footer.html"}