								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content" style="text-align:center">
						<span class="bigger">
							{$WEB_NAME} &copy; {date('Y')}
							{if strlen($configs.GLOBAL_SUPPORT)}&nbsp; | &nbsp; <copyright>技术支持：<a href="{$configs.GLOBAL_SUPPORT_URL}" target="_blank">{$configs.GLOBAL_SUPPORT}</a></copyright>{/if}
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

	</body>
</html>