{include file="header.html"}

<div class="home-view">
	<div class="home-name">
		<div>{$WEB_NAME}</div>
		{if $defines->WX_LOGIN_GM==1 && $admin->openid==''}<a href="?app=core&act=weixin_auth&active=1">绑定微信</a>{/if}
	</div>
	<div class="col-overview">
		上次登录IP：{$admin->last_ip}<br />
		上次登录时间：{date('Y-m-d H:i:s', $admin->last_time)}
	</div>
	{if $has_order && core::check_permission('order', 'index')}
	<ul class="col-overview home-overview">
		<li><a href="?app=order&act=index&status=1">{$order_status1}</a><span>待发货订单</span></li>
		<li><a href="?app=order&act=index">{$order_yesterday}</a><span>昨日订单</span></li>
		<li><a href="?app=order&act=index"><i>￥</i>{number_format($order_yesterday_money,2,'.','')}</a><span>昨日交易额</span></li>
		<li><a href="?app=order&act=index">{$order_pay}</a><span>已支付订单</span></li>
	</ul>
	{/if}
</div>

{include file="footer.html"}