{include file="header.html"}

<div class="page-header">
	<h6>
		会员管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			会员列表
		</small>
		<div>
			{if core::hasMenu('member', 'add')}
			<a href="?app=member&act=add" class="iframe-layer">添加会员</a>
			{/if}
			<a href="?app=member&act=export&where={$where}">导出到EXCEL</a>
		</div>
	</h6>
</div>

<form class="form-inline" action="?" method="get">
<input type="hidden" name="app" id="app" value="{$app}" />
<input type="hidden" name="act" id="act" value="{$act}" />
<input type="text" class="input-medium" placeholder="关键词" name="keyword" value="{$keyword}" />
<input type="text" class="form-control" name="begin_date" id="begin_date" placeholder="开始日期" value="{$begin_date}" initdate="" style="width:150px;" />
<span class="some-span">-</span>
<input type="text" class="form-control" name="end_date" id="end_date" placeholder="结束日期" value="{$end_date}" initdate="" style="width:150px;" />
<select name="status" id="status" class="form-control">
	<option value="">状态</option>
	<option value="1" {if $status=='1'}selected{/if}>正常</option>
	<option value="0" {if $status=='0'}selected{/if}>冻结</option>
</select>
<button type="submit" class="btn btn-info btn-sm">
	<i class="ace-icon fa fa-search bigger-110"></i>搜索
</button>
</form>

<div class="table-content">
<table id="simple-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>头像</th>
			<th>会员名称</th>
			<th>手机号码</th>
			{if in_array('grade', $function)}<th>等级</th>{/if}
			<!--<th>类型</th>-->
			<th>状态</th>
			{if $edition>1}<th>余额</th>{/if}
			<th>登录次数</th>
			<th>登录时间</th>
			<th>操作</th>
		</tr>
	</thead>

	<tbody>
		{foreach from=$rs item=row name=row}
		<tr>
			<td>{$row->id}</td>
			<td><img src="{$row->avatar}" height="40" onerror="this.src='/images/avatar.png'" /></td>
			<td><a href="?app=member&act=edit&id={$row->id}" class="iframe-layer">{if strlen($row->name)}{$row->name}{else}{$row->nick_name}{/if}</a></td>
			<td>{$row->mobile}</td>
			{if in_array('grade', $function)}<td>{if strlen($row->grade_name)}{$row->grade_name}{else}-{/if}</td>{/if}
			<!--<td>{$row->member_type_name}</td>-->
			<td>{$row->status_name}</td>
			{if $edition>1}<td>{$row->money}</td>{/if}
			<td>{$row->logins}</td>
			<td>{date('Y-m-d',$row->last_time)}</td>
			<td>
				<a href="?app=member&act=edit&id={$row->id}">
					<button type="button" class="btn btn-xs btn-info">
					<i class="ace-icon fa fa-pencil bigger-120"></i>
				</button>
				</a>
				<a href="?app=member&act=delete&id={$row->id}" class="delete">
					<button type="button" class="btn btn-xs btn-danger">
					<i class="ace-icon far fa-trash-alt bigger-120"></i>
				</button>
				</a>
				{if strlen($row->udid)}
				<a href="javascript:notify('{$row->udid}')">
					<button type="button" class="btn btn-xs btn-warning">
					<i class="ace-icon fa fa-send-o bigger-120"></i>
				</button>
				</a>
				{/if}
			</td>
		</tr>
		{foreachelse}
		<tr bgcolor="white"><td colspan="13" height="50">暂无记录</td></tr>
		{/foreach}

	</tbody>
</table>
</div>
<div class="mypage">
	共 {$sharepage.num_records} 个记录  {$sharepage.current_page} / {$sharepage.num_pages} 页  {$sharepage.first_page} {$sharepage.prev} {$sharepage.nav} {$sharepage.next} {$sharepage.last_page}
</div>
{include file="footer.html"}

<script>
function notify(udid){
	if(!udid.length)return;
	var message = window.prompt('推送消息内容', '');
	if(message){
		$.postJSON('{$GM_PATH}api/home/notify', { message:message, udid:udid });
	}
}
$(function(){
	$('#begin_date').datepicker({ readonly:false });
	$('#end_date').datepicker({ readonly:false });
});
</script>

