{include file="header.html"}

<div class="page-header">
	<h6>
		会员管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			会员详情
		</small>
	</h6>
</div>
<div class="row">
<div class="col-xs-12">
	<form class="form-horizontal" role="form" method="post" action="?app=member&act=edit" enctype="multipart/form-data">
		{if $row->id>0}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="id">ID</label>
			<div class="col-sm-10">
				<input type="text" id="id" name="id" readonly value="{$row->id}" class="col-xs-1" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="name">账号</label>
			<div class="col-sm-10">
				<input type="text" id="name" name="name" value="{$row->name}" class="col-xs-2" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="password">密码</label>
			<div class="col-sm-10">
				<input type="password" id="password" name="password" class="col-xs-2" />
				<span class="some-line">留空不修改</span>
			</div>
		</div>
		{else}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="name">账号</label>
			<div class="col-sm-10">
				<input type="text" id="name" name="name" value="" class="col-xs-2" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="password">密码</label>
			<div class="col-sm-10">
				<input type="password" id="password" name="password" class="col-xs-2" />
			</div>
		</div>
		{/if}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="nick_name">昵称</label>
			<div class="col-sm-10">
				<input type="text" id="nick_name" name="nick_name" value="{$row->nick_name}" class="col-xs-2" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">头像</label>
			<div class="col-sm-10">
				<input type="hidden" name="origin_avatar" id="origin_avatar" value="{$row->avatar}" />
				{if core::hasMenu('member', 'add')}
				<div class="col-file col-xs-3"><input type="file" id="avatar" name="avatar" value="" /></div>
				{if $row->avatar}<a href="{$row->avatar}" target="_blank"><img src="{$row->avatar}" width="34" onerror="this.src='/images/nopic.png'" /></a>{/if}
				{else}
				{if $row->avatar}<a href="{$row->avatar}" target="_blank"><img src="{$row->avatar}" width="101" onerror="this.src='/images/nopic.png'" /></a>{/if}
				{/if}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="mobile">手机号码</label>
			<div class="col-sm-10">
				<input type="text" id="mobile" name="mobile" value="{$row->mobile}" class="col-xs-2" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="qq">QQ</label>
			<div class="col-sm-10">
				<input type="text" id="qq" name="qq" value="{$row->qq}" class="col-xs-2" />
			</div>
		</div>
		{if in_array('grade', $function)}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">当前等级</label>
			<div class="col-sm-10">
				<select name="grade_id">
				<option value="">请选择等级</option>
				{foreach from=$grades item=g}
				<option value="{$g->id}" {if $row->grade_id==$g->id}selected{/if}>{$g->name}</option>
				{/foreach}
				</select>
				<span class="some-line"><a href="?app=grade&act=index" target="_blank" class="iframe-layer">编辑等级</a></span>
			</div>
		</div>
		{if $edition>2}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="grade_score">等级积分</label>
			<div class="col-sm-10">
				<input type="text" id="grade_score" name="grade_score" value="{$row->grade_score}" class="col-xs-2" />
				<span class="some-line">系统将优先按积分来设定等级</span>
			</div>
		</div>
		{/if}
		{/if}
		{if $row->id>0}
		{if $edition>1}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="invite_code">邀请码</label>
			<div class="col-sm-10">
				<input type="text" id="invite_code" name="invite_code" readonly value="{$row->invite_code}" class="col-xs-2" />
			</div>
		</div>
		{/if}
		{/if}
		{if $has_recharge}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="money">余额</label>
			<div class="col-sm-10">
				<input type="text" id="money" name="money" value="{$row->money}" class="col-xs-2" />
				<span class="some-block">元</span>
			</div>
		</div>
		{/if}
		{if $edition>2}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" for="commission">佣金</label>
			<div class="col-sm-10">
				<input type="text" id="commission" name="commission" value="{$row->commission}" class="col-xs-2" />
				<span class="some-block">元</span>
			</div>
		</div>
		{/if}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">状态</label>
			<div class="col-sm-10">
				<div class="radio">
					<label>
						<input {if $row->status==1}checked{/if} value="1" name="status" type="radio" class="ace" />
						<span class="lbl">正常</span></label>
				</div>
				<div class="radio">
					<label>
						<input {if $row->status==0}checked{/if} value="0" name="status" type="radio" class="ace" />
						<span class="lbl">冻结</span></label>
				</div>
			</div>
		</div>
		{if $row->id>0}
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">登录次数</label>
			<div class="col-sm-10">
				<input type="text" value="{$row->logins}" disabled class="col-xs-1" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">注册时间</label>
			<div class="col-sm-10">
				<input type="text" value="{date('Y-m-d H:i:s',$row->reg_time)}" disabled class="col-xs-2" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">注册IP</label>
			<div class="col-sm-10">
				<input type="text" value="{$row->reg_ip}" disabled class="col-xs-2" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">上次登录时间</label>
			<div class="col-sm-10">
				<input type="text" value="{date('Y-m-d H:i:s',$row->last_time)}" disabled class="col-xs-2" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">上次登录IP</label>
			<div class="col-sm-10">
				<input type="text" value="{$row->last_ip}" disabled class="col-xs-2" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">sign</label>
			<div class="col-sm-10">
				<input type="text" value="{$row->sign}" disabled class="col-xs-6" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right">udid</label>
			<div class="col-sm-10">
				<input type="text" value="{$row->udid}" disabled class="col-xs-6" />
			</div>
		</div>
		{/if}
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info" type="submit">
					<i class="ace-icon fa fa-check bigger-110"></i>
					提交
				</button>

				&nbsp; &nbsp; &nbsp;
				<button class="btn" type="reset">
					<i class="ace-icon fa fa-undo bigger-110"></i>
					重置
				</button>
			</div>
		</div>
	</form>
</div>
</div>

{include file="footer.html"}
<script>
$(function(){

});
</script>